

body{
    
}


/*************************cabezera****************************************/
#cabezera{
    background-color: #245580;
    height: 100px;
}
#foto{
    text-align: center;
}
#foto>img{
    width: 50px;
    height: 50px;
    right: -50px;
    
}
#buscar{
    top: 30px;
}

/*************************cuerpo******************************************/
#cuerpo{
    background-color: #5cb85c;
    height: 500px;
}


/************************footer*******************************************/
#footer{
    background-color: #c9302c;
}
